* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-blue-1: #15be5c;
    --bg-blue-2: #0e4b46;
    --bg-blue-3: #0b1aee;
    --margin-top: 100px;
}


.logo-text {
    font-size: 1.8rem;
    color: var(-- bg-blue-1);
    font-weight: 800;
}

.logo-icon {
    color: var(-- bg-blue-1);
}

.my-mt {
    margin-top: var(--margin-top);
}


.nav-item a {
    font-weight: 700;
    font-size: 18px;
}

.my-title {
    color: var(--bg-blue-1)
}

.bg-blue-2 {
    background-color: var(--bg-blue-2);
}

.sobre {
    min-height: 60vh;
}

.icon {
    font-size: 60px;
    color: var(--bg-blue-1);
    transition: .5s;
}

.card {
    transition: .5s;
}

.card:hover {
    background-color: var(--bg-blue-2)
}

.card:hover .icon {
    transform: scale(1.5);
}

.icon-social,
.icon-contato {
    font-size: 2rem;
    color: var(--bg-blue-1);
    transition: .5s;
}
textarea {
    resize: none;
    height: 130px;
}

@media(max-width:959px) {
    #sobre{
        text-align: center;
    }
}